---
# External Secrets Operator Installation Role

- name: Add External Secrets Helm Repo
  kubernetes.core.helm_repository:
    name: external-secrets
    repo_url: https://charts.external-secrets.io

- name: Install External Secrets Operator
  kubernetes.core.helm:
    kubeconfig: "{{ kubeconfig }}"
    name: external-secrets
    chart_ref: external-secrets/external-secrets
    release_namespace: "{{ external_secrets_namespace }}"
    create_namespace: yes
    wait: yes

- name: Create ServiceAccount for External Secrets
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig }}"
    state: present
    definition: "{{ lookup('template', 'serviceaccount.yml.j2') }}"

- name: Create ClusterSecretStore
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig }}"
    state: present
    definition: "{{ lookup('template', 'clustersecretstore.yml.j2') }}"
