---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ item.name }}
  namespace: {{ argocd_namespace }}
spec:
  project: default
  
  source:
    repoURL: {{ git_repo_url }}
    targetRevision: {{ git_branch }}
    path: {{ item.name }}
  
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ app_namespace }}
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
