---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: eso-sa
  namespace: {{ external_secrets_namespace }}
  annotations:
    eks.amazonaws.com/role-arn: "arn:aws:iam::{{ aws_account_id }}:role/external-secrets-operator-role"
